<!doctype html>
<html lang="en">
<head>
    <title>experiment</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://kit.fontawesome.com/77b777f4e2.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<div class="wrapper d-flex align-items-stretch">
    <nav id="sidebar">
        <div class="custom-menu">
            <button type="button" id="sidebarCollapse" class="btn btn-primary">
                <i class="fa fa-bars"></i>
                <span class="sr-only">Toggle Menu</span>
            </button>
        </div>
        <div class="p-4 d-flex justify-content-between flex-column h-100">
            <div>
                <h3 class="mt-5">
                    <a href="home" class="logo"><b>AB-TEST</b> Dashboard</a>
                </h3>
                <hr class="mt-4 mb-4">
                <ul class="list-unstyled components mb-5">
                    <li>
                        <a href="home"><i class="fa-solid fa-home mr-3"></i>Home</a>
                    </li>
                    <li>
                        <a class="mr-3" href="logout"><i class="fa-regular fa-arrow-right-from-bracket mr-3"></i>Logout</a>
                    </li>
                    <li>
                        <a><i class="fa-solid fa-user mr-3"></i>Profile</a>
                    </li>
                </ul>
                <div class="mb-5">
                    <h3 class="h6 mb-3">Subscribe for newsletter</h3>
                    <form action="#" class="subscribe-form">
                        <div class="form-group d-flex">
                            <div class="icon"><span class="icon-paper-plane"></span></div>
                            <input type="text" class="form-control" placeholder="Enter Email Address">
                        </div>
                    </form>
                </div>
            </div>
            <div class="sidebar-box">
                <div class="hoop"><div class="inner-hoop"><div class="inner-inner-hoop"></div></div></div>
                <h6 id="mess-title" class="mt-5">title</h6>
                <p id="mess">something something</p>
            </div>
        </div>
    </nav>
    <div id="content" class="pt-5 pl-5 pr-5 d-flex flex-column justify-content-between">
        <div>
            <div class="row m-0 d-flex head mb-3">
                <div class="col p-0 d-flex align-items-center">
                    <ol class="breadcrumb blue-grey lighten-4">
                        <li class="breadcrumb-item">
                            <a class="black-text" href="home">Home</a>
                            <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                        </li>
                        <li class="ml-2 active">Experiment</li>
                    </ol>
                </div>
                <div class="col p-0 d-flex justify-content-end">
                    <div class="head-card">
                        <div class="search_container mr-3">
                            <form id="search">
                                <i class="fa fa-solid fa-magnifying-glass fa-lg"></i>
                                <input type="search" name="search" placeholder="Search">
                            </form>
                        </div>
                        <a class="mr-3"><i class="fa-regular fa-bell fa-xl"></i></a>
                        <a class="mr-3"><i class="fa-regular fa-circle-info fa-xl"></i></a>
                        <img id="profile-img" src="images/images.png" alt="user">
                    </div>
                </div>
            </div>
            <div>
                <h1 class="mb-3">Experiment page</h1>
                <div class="container">
                    <div class="card p-5" id="load">


<!--                        <div class="row justify-content-center">-->
<!--                            <canvas id="chart" class="w-70"></canvas>-->
<!--                        </div>-->
<!--                        <hr>-->
<!--                        <div class="row justify-content-center">-->
<!--                            <div class="info">-->
<!--                                <a href="/edit_experiment?id=3"><i class="fa-regular fa-pen-to-square fa-xl"></i></a>-->
<!--                            </div>-->
<!--                            <div class="info">-->
<!--                                <i class="fa-regular fa-terminal fa-xl"></i>-->
<!--                            </div>-->
<!--                            <div class="info">-->
<!--                                <i class="fa-solid fa-trash fa-xl"></i>-->
<!--                            </div>-->
<!--                        </div>-->

                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="row mt-3">
                <div class="col">
                    <p>
                        &copy;Core team <script>document.write(new Date().getFullYear());</script>. all rights reserved
                        <i class="icon-heart" aria-hidden="true"></i>
                    </p>
                </div>
                <div class="col d-flex justify-content-end">
                    <p class="mr-4">Marketplace</p>
                    <p class="mr-4">License</p>
                    <p class="mr-4">Terms of use</p>
                    <p>Blog</p>
                </div>
            </div>
        </div>
    </div>
</div>


<a href="#model-successes" id="s-model" class="trigger-btn" data-toggle="modal" hidden>Click to Open Confirm Modal</a>
<!-- Modal successes -->
<div id="model-successes" class="modal fade">
    <div class="modal-dialog modal-confirm">
        <div class="modal-content">
            <div class="modal-header">
                <div class="icon-box">
                    <i class="fa-regular fa-check"></i>
                </div>
            </div>
            <div class="modal-body row d-flex justify-content-center">
                <img src="images/done.png">
            </div>
            <div class="modal-footer">
                <button class="btn btn-success btn-block" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

<a href="#model-failed" id="f-model" class="trigger-btn" data-toggle="modal" hidden>Click to Open Confirm Modal</a>
<!-- Modal failed -->
<div id="model-failed" class="modal fade">
    <div class="modal-dialog modal-confirm failed-model">
        <div class="modal-content">
            <div class="modal-header">
                <div class="icon-box failed-model">
                    <i class="fa-regular fa-x"></i>
                </div>
            </div>
            <div class="modal-body row d-flex justify-content-center">
                <img src="images/fail.png">
                <p class="text-center" id="failMsg"></p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success btn-block failed-model" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="js/jquery.min.js"></script>
<script src="js/popper.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/main.js"></script>
<script src="js/experiment.js"></script>
</body>
</html>
