<!DOCTYPE html>
<html lang="en">

<head>
    <title>AB Test Dashboard</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://kit.fontawesome.com/77b777f4e2.js" crossorigin="anonymous"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <link rel="stylesheet" href="css/login.css">
    <link rel="icon" href="includes/apple-touch-icon.png">
</head>

<body>
<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card">
                    <div class="card-body p-5 text-center">
                        <form id="sign-in">
                            <div class="mb-md-5 mt-md-4">
                                <h1><b>AB-TEST</b>Dashboard</h1>
                                <h4>Sign in</h4>
                                <div class="row-5 mt-5 mb-4">
                                    <div class="form-floating">
                                        <input type="email" class="form-control" id="email" name="email" placeholder="UserId" required>
                                        <label for="email">Email</label>
                                    </div>
                                </div>
                                <div class="row-5 mb-5">
                                    <div class="form-floating">
                                        <input type="password" class="form-control" id="pass" name="password" placeholder="Password" required>
                                        <label for="pass">Password</label>
                                    </div>
                                </div>
                                <button class="btn btn-lg px-5 mb-5" type="submit">Login</button>

                                <div class="alert alert-danger" role="alert" id="error" hidden>
                                    Invalid email or password
                                </div>

                                <div class="d-flex justify-content-center mt-4 pt-1">
                                    <a class="m-1" href="javascript: void(0);"><i class="fa-brands fa-facebook"></i></a>
                                    <a class="m-1" href="javascript: void(0);"><i class="fa-brands fa-twitter"></i></a>
                                    <a class="m-1" href="javascript: void(0);"><i class="fa-brands fa-linkedin"></i></a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js"
        integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous">
</script>
<script src="js/login.js"></script>
</body>
</html>
